<!-- ko with: home -->
<div class="jumbotron">
    <p>
        <span>Welcome&nbsp;</span><span data-bind="text: username"></span>
    </p>

</div>
<div class="row">
    <div class="col-md-4">
        <h2>Your information</h2>
        <p>This section shows how you can call ASP.NET Web API to get the user details.</p>
        <label>Username</label><input type="text" data-bind="value: username" />
        <br />
        <span data-bind="text: username"></span>
        <p data-bind="text: myHometown"></p>
  
    </div>

    <div class="col-md-4">
      
    </div>

    <div class="col-md-4">

    </div>
</div>

<!-- /ko -->
